body{
	background-color: gray;
	font-family: 'Red Hat Text';
	font-size: 1em;
	background-image: url(../img/fondo.png);
	background-repeat: no-repeat;
}

	/* index.html */

.contingut {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;

	background-color: #415671;
	background-image: url(../img/logo.png);
 	background-repeat: no-repeat;
	background-position: center;
}


/* Menu Principal*/

/* CABECERA*/

.cap {
	position: fixed;
	background-color: #415671;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.70);
	top: 0; left: 0; right: 0; bottom: 0;
	height: 70px;
	width: 414px;
}

	/*Texto TPV*/

	#titulo {
		margin-top: 9px;
		width: auto;
	}
	#titulo h1 {
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 40px;
		font-weight: 60;
		width: 60px;
		height: 35px;



	}

	/*Botones cabecera TPV*/

	#exit {
		background-image: url(../img/principal/exit.png);
		background-repeat: no-repeat;
		background-position: center;
		width: 49px;
		height: 49px;

			margin-top: 3.5%;
			margin-left: 4%;
			float: left;



	}


	/* CUERPO*/

.cos {
	position: absolute;
	top: 70px; left: 0; right: 0; bottom: 0;
  height: 664px;
	overflow-y: auto;
	padding: 0;
}

 .cos .cajaorden {
		background-color: white;
		border: 1px solid #415671;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50),
					inset 0px 4px 4px rgba(0, 0, 0, 0.50);

		width: 390px;
		height: 184px;
		border-radius: 5px ;

			margin-top: 4%;
			margin-left: 11px;
	}

	.cos .mesa{
		background-color: white;
		border: 1px solid #415671;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50),
					inset 0px 4px 4px rgba(0, 0, 0, 0.50);
		width: 151px;
		height: 39px;
		border-radius: 5px;

			float: left;
			margin-top: 4%;
			margin-left: 11px;
	}

		#textomesa{
			color: rgba(0, 0, 0, 0.50);
			font-style: italic;
			font-weight: normal;
			font-size: 20px;
			line-height: 40px;
			margin-left: 10%;
		}


	/*Botones Productos TPV*/

.cos .aplicar{
	background-color: #415671;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
	width: 98px;
	height: 40px;
	border-radius: 10px;

		float: left;
		margin-top: 4.2%;
		margin-left: 11px;
}

	#textoaplicar {
		color: white;
		font-weight: bold;
		font-size: 17px;
		line-height: 40px;
		text-align: center;
	}

.cos .botonmasmenos {
	background-color: #415671;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
	width: 40px;
	height: 40px;
	border-radius: 10px;
	float: left;
}
		#mas {
			margin-top: 4.2%;
			margin-left: 30px;
		}
		#menos {
			margin-top: 4.2%;
			margin-left: 20px;
		}
			#masmenos {
				color: white;
				font-weight: bold;
				font-size: 40px;
				line-height: 40px;
				text-align: center;
			}


#items {
	width: 393px;
	position: absolute;
	left: 21px;
	margin-top: 15%;
}

.items {
		background-color: #415671;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
		width: 70px;
		height: 70px;
		margin: 27px;
		border-radius: 10px;
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}

#bebidas {
		background-image: url(../img/principal/bebida.png);
}

#tapas {
		background-image: url(../img/principal/tapas.png);
}

#comidas {
		background-image: url(../img/principal/comida.png);
}

#bocadillos {
		background-image: url(../img/principal/bocadillos.png);
}

#cafes {
		background-image: url(../img/principal/cafes.png);
}

#postres {
		background-image: url(../img/principal/postres.png);
}


	/*Botones principal TPV*/

#enviar {

	background-color: #415671;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
	width: 170px; height: 70px; left: 116px; top: 607px;
	border-radius: 10px;
	float: left;

		margin-top: 5%;
		margin-left: 26%;
}
		#enviar h1 {
			color: white;
			font-weight: bold;
			font-size: 32px;
			line-height: 72px;
			text-align: center;

		}
