body {
  background-color: lightgreen;
}

ul {
  width: 880px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
}

li {
  background-color: grey;


















  ,
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  background-size: 100px;
  border-radius: 20px 20px 20px;
  box-shadow: 0px 0px 10px white;

}

a {

  font-size: 20px;
  height: 200px;
  display: block;
  text-decoration: none;

}
/*
.anulador {
  clear: both;
}
*/
#a01 {
  background-image: url(img/a01.png);
}
#a02 {
  background-image: url(img/a02.png);
}
#a03 {
  background-image: url(img/a03.png);
}
#a04 {
  background-image: url(img/a04.png);
}
#a05 {
  background-image: url(img/a05.png);
}
#a06 {
  background-image: url(img/a06.png);
}
