body {
	font-family: 'Roboto', sans-serif;
	background-color: white;
}

a {
	text-decoration:none;
}

/* index.html */

.logo {
	position: static;
	width: 8cm;
	height: 6cm;
	margin: auto;
	margin-top: 6cm;
	background-color: white;
	background-image: url(../img/Marca.png);
	background-size: cover;
}

.version {
	font-family: 'Roboto', sans-serif;
	color: #757574;
	line-height: 2em;
	text-align: center;
	position: static;
	margin-top: 6cm;
}


/* login.html */

.cuerpologin {
	margin: 0 auto;
	width: 9cm;
}

.logo_marca {
	position: relative; 
	width: 8cm;
	height: 6cm;
	margin: 0 auto;
	background-image: url(../img/Marca.png);
	background-size: cover;
	margin-top: 1.5cm;
}

.barra {
	position: relative;
	height: 0.20cm;
	margin: 0 auto;
	margin-top: 1.5cm;
	background: linear-gradient(88.68deg, #36B07E 0%, #5EB45A 100%);
}

.titulo {
	color: #36B07E !important;
	font-size: 20pt;
	font-weight: 600;
	margin-top: 1.5cm;
	margin-bottom: 0.2cm;
}
	.titulo a {
		color: #36B07E;
	}

.boton {
	height: 1.3cm;
	width: 100%;
	border-radius: 50px;
	margin-top: 0.5cm;	
}

input {
	font-weight: 100;
}

input[type="checkbox"] {
	width: 24px;
	height: 24px;
	float: left;
}

#caudro_texto {
	border: 1px solid #757574;
	box-sizing: border-box;
	font-size: 18pt;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

#boton_verde {
	background: linear-gradient(88.68deg, #36B07E 0%, #5EB45A 100%);
	outline: none;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

#recu {
	
	color: #757574;
	font-size: 18pt;
	margin-top: 0.7cm;
	font-weight: 150;
	text-align: center;
}
	#recu a {
		color: #757574;
	}

.peulogin {
	text-align: center;
	margin-top: 3.5cm;
}

#recu img {
	float: left;
	width: 0.7m;
	height: 0.7cm;
	background-size: cover;
}


/* config.html */

.flechaatras {
	position: relative; 
	width: 0.75cm;
	height: 0.83cm;
	margin-left: 1cm;
	background-image: url(../img/flecha.png);
	background-size: cover;
	margin-top: 0.5cm;
}

.perfil {
	position: relative; 
	width: 3cm;
	height: 3cm;
	margin: 0 auto;
	background-image: url(../img/perfil/perfil1.png);
	background-size: cover;
	margin-top: 0.5cm;
}

#justify {
	text-align: center;
}

#cuadro_grey {
	display: flex;
	background-color: #f4f4f6;
	font-size: 20pt;
	line-height:50px;
	text-align: center;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
}

	.boton img {
		position: absolute;
		left: 93.65%;
		right: 4.01%;
		top: 30%;
		bottom: 30%;

		float: right;
		height: 0.7em;
		width: 0.3em;
		float: right;
		padding-right: 1em;
		margin-bottom: 4em;
	}

	.boton_centrado{
		position: fixed;
		left: 39.5%;
		margin-top: 460px;
		height: 40px;
		width: 300px;
		border-radius: 50px;
		text-align: center;
		line-height: 50px;
	}

/* descubre.html / descubre_gift.html */
	.gray{
		background-color: #F4F4F6;
	}
	.cuerpologin2 {
		margin: 0 auto;
		width: 95%;
	}
	.cuerpologin3 {
		position: relative;
	}
	
	.menus_superior {
		width: 100%;
		position: fixed;
		height: 58px;
		background-color: #F4F4F6;
		padding-top: 13px;
	}
		#user{
			margin-left: 10%;
			width: 48px;
			height: 48px;
			background-image: url(../img/perfil/perfil1.png);
			background-size: cover;
			float: left;
			margin-top: 6px;
		}
		#buscar{
			width: 68%;
			height: 45px;
			padding-left: 20px;
			margin-top: 6px;
			margin-right: 10%;
			border-radius: 50px;	
			border: 1px solid #757574;
			font-size: 20px;
			font-family: 'Roboto';
			outline: none;
			float: right;
			
		}

	.menus_cambio{
		width: 100%;
		height: 50px;
		position: fixed;
		margin-top: 70px;
		background-color: #F4F4F6;
		padding-top: 17px;
		}

		.line{
			width: 4px;
			height: 30px;
			background: linear-gradient(83.88deg, #36B07E 0.89%, #5EB45A 99.39%);
			border-radius: 50px;
			position: fixed;
			margin-left: 50%;
		}
		
		.cambio{
			width: 20%;
			height: 30px;
			text-align: center;
			border-radius: 50px;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 30px;
			align-items: center;
			text-align: center;
			color: #FFFFFF;
		}

		#sep1{
			float: left;
			margin-left: 10%;
			background: linear-gradient(83.88deg, #36B07E 0.89%, #5EB45A 99.39%);
		}
		#sep2{
			float: right;
			margin-right: 10%;
			border: 1px solid #757574;
			background-color: white;
			color: #757574;
		}
		#sep3{
			float: right;
			margin-right: 10%;
			background: linear-gradient(83.88deg, #36B07E 0.89%, #5EB45A 99.39%);
		}
		#sep4{
			float: left;
			margin-left: 10%;
			border: 1px solid #757574;
			background-color: white;
			color: #757574;
		}

 .menus_productos{
	background-color: #F4F4F6;
	width: 100%;
	height: 100%;
	position: static;
	float: left;
	margin-top: 140px;
	}

.km{
	width: 60px;
	text-align: center;
	line-height: 27px;
	border-radius: 50px;
	height: 25px;
	font-size: 12px;
	position: fixed;
	top: 150px;
	left: 48.5%;
	opacity: 70%;
	color: #757574;
	background: #F4F4F6;
}

.producto{
	width: 20%;
	height: 260px;
	margin-left: 2.8%;
	margin-right: 2%;
	margin-bottom: 3%;
	float: left;
	}

	  .foto{
		background-color: red;
		height: 80%;
		border-radius: 9px 9px 0px 0px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		background-size: cover;

	}
			#img1{
				background-image: url(../img/juguetes/juguete1.jpg);	
			}
			#img2{
				background-image: url(../img/juguetes/juguete2.jpg);	
			}
			#img3{
				background-image: url(../img/juguetes/juguete3.jpg);	
			}
			#img4{
				background-image: url(../img/juguetes/juguete4.jpg);	
			}
			#img5{
				background-image: url(../img/juguetes/juguete5.jpg);	
			}
			#img6{
				background-image: url(../img/juguetes/juguete6.jpg);	
			}
			#img7{
				background-image: url(../img/juguetes/juguete7.jpg);	
			}
			#img8{
				background-image: url(../img/juguetes/juguete8.jpg);	
			}
			#img9{
				background-image: url(../img/juguetes/juguete9.jpg);	
			}
			#img10{
				background-image: url(../img/juguetes/juguete10.jpg);	
			}
			#img11{
				background-image: url(../img/juguetes/juguete11.jpg);	
			}
			#img12{
				background-image: url(../img/juguetes/juguete12.jpg);	
			}
			#img13{
				background-image: url(../img/juguetes/juguete13.jpg);	
			}
			#img14{
				background-image: url(../img/juguetes/juguete14.jpg);	
			}
			#img15{
				background-image: url(../img/juguetes/juguete15.jpg);	
			}
			#img16{
				background-image: url(../img/juguetes/juguete16.jpg);	
			}
			#img17{
				background-image: url(../img/juguetes/juguete17.jpg);	
			}
			#img18{
				background-image: url(../img/juguetes/juguete18.jpg);	
			}
			#img19{
				background-image: url(../img/juguetes/juguete19.jpg);	
			}
			#img20{
				background-image: url(../img/juguetes/juguete20.jpg);	
			}
			#img21{
				background-image: url(../img/juguetes/juguete21.jpg);	
			}
			#img22{
				background-image: url(../img/juguetes/juguete22.jpg);	
			}
			#img23{
				background-image: url(../img/juguetes/juguete23.jpg);	
			}
			#img24{
				background-image: url(../img/juguetes/juguete24.jpg);	
			}

	  #description{
		background-color: white;
		height: 20%;
		border-radius: 0px 0px 9px 9px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 50px;
		text-align: center;
		color: #757574;
	  }

.menus_tareas{
	background: #FFFFFF;
	box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
}

.select{
	width: 20%;
	height: 80px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
}

#favoritos{
	background-image: url(../img/barratareas/iconos_favoritos_off.svg);
}
#descubre{
	background-image: url(../img/barratareas/iconos_descubre_on.svg);
}
#misjuguetes{
	background-image: url(../img/barratareas/iconos_misjuguetes_off.svg);
}
#chats{
	background-image: url(../img/barratareas/iconos_chats_off.svg);
}

#subirproducto{
	background-image: url(../img/barratareas/iconos_subir.svg);
	position: fixed;
	width: 15%;
	height: 100px;
	background-repeat: no-repeat;
	left: 47.4%;
	bottom: 15px;
}


/* products.html */

.menus_superior2{
	height: 75px;

}

.flecha_centrado {
	margin-left: 10%;
	width: 29px;
	height: 32px;
	background-image: url(../img/iconos/flecha.png);
	background-size: cover;
	position: fixed;
	top: 30px;
}

#user_centrado {
	position: fixed;
	width: 48px;
	height: 48px;
	top: 20px;
	margin-left: 49%;
	background-image: url(../img/perfil/perfil1.png);
	background-size: cover;
}

.reporte {
	float: right;
	margin-right: 10%;
	background-image: url(../img/iconos/exclamacion.png);
	background-size: cover;
	margin-top: 15px;
	width: 10px;
	height: 50px;
}

.producto_completo {
	height: 400px;
	margin-top: 30px;
	float: left;
	width: 94.4%;
	margin-left: 2.8%;
}
	.foto_grande {
		background-color: #36B07E;
		height: 50%;
		width: 20%;
		margin: auto;
		margin-top: -10px;
		border-radius: 15px 15px 15px 15px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	#description_completa {
		background-color: white;
		height: 40%;
		width: 30%;
		margin: auto;
		margin-top: 10px;
		border-radius: 9px 9px 9px 9px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 50px;
		color: #757574;
	}

	.boton_centrado2{
		position: fixed;
		margin: auto;
		margin-top: 470px;
		height: 40px;
		width: 300px;
		border-radius: 50px;
		text-align: center;
		line-height: 40px;
		color: white;
		font-size: 15pt;
		font-weight: bold;
		margin-left: 40%;
		background: linear-gradient(88.68deg, #36B07E 0%, #5EB45A 100%);
	}

	.objetos{
		height: 40px;
		width: 90%;
		margin: 0 auto;
		padding: 15px;
	}

	.mini_user{
		height: 30px;
		width: 40%;
		margin-left: 4%;
		background: linear-gradient(88.68deg, #36B07E 0%, #5EB45A 100%);
		margin-top: 5px;
		float: left;
		border-radius: 50px;
	}

	#avatar{
		height: 25px;
		width: 25px;
		margin-top: 2.5px;
		margin-left: 13%;
		border-radius: 50px;
		background-image: url(../img/perfil/perfil4.png);
		background-size: cover;
	}

	#usuario_avatar{
		height: 25px;
		width: 70%;
		margin-top: -25px;
		margin-left: 25%;
		float: left;
	}

	#usuario_avatar p{
		color:white;
		height: 25px;
		width: 70%;
		line-height: 25px;
		margin: 0 auto;
	}

	.mini_items{
		height: 30px;
		width: 25%;
		margin-left: 4%;
		margin-top: 5px;
		float: right;
	}

	.favs{
		height: 22px;
		width: 26px;
		background-image: url(../img/iconos/corazon.png);
		background-size: cover;
		float: left;
		margin-top: 2px;
		margin-left: 15%;
	}
	.sends{
		height: 22px;
		width: 21px;
		background-image: url(../img/iconos/compartir.png);
		background-size: cover;
		float: right;
		margin-top: 2px;
		margin-right: 15%;
	}

	#descripcion{
		margin-top: 25px;
		margin-left: 25px;
		line-height: 25px;
		height: 100px;
		width: 100%;
		float: left;
	}

	#titu{
		margin-left: 10px;
	}

@media screen and (max-width:640px) and (orientation: portrait) {
	
	/* descubre.html */

	.producto{
		width: 46%;
		margin-left: 2%;
		}

	#sep2{
		margin-right: 10%;
	}

	#buscar{
		width: 60%;
		margin-right: 10%;
	}

	.line{
		margin-left: 50%;
	}

	.km{
		left: 44%;
	}

	#subirproducto{
		left: 42.5%;
	}

	/* products.html */

	#user_centrado {
		margin-left: 45%;
	}

	.reporte {
		width: 8.1px;
		height: 40px;
		margin-top: 26.5px;
	}

	.boton_centrado2{
		margin-left: 14%;
		margin-top: 500px;
	}

	.objetos {
	
	}

	#descripcion{
		margin-top: 25px;
		line-height: 25px;
		height: 100px;
		width: 100%;
		float: left;
		margin-left:3px;
	}

	.foto_grande {
		background-color: #36B07E;
		height: 50%;
		width: 80%;
		margin: auto;
		border-radius: 15px 15px 0px 0px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	#description_completa {
		background-color: white;
		height: 40%;
		width: 80%;
		margin: auto;
		border-radius: 0px 0px 9px 9px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 50px;
		color: #757574;
	}

	/*Movil Verticals*/
@media screen and (max-width:640px) and (orientation: portrait) {
	body{
	}
}
/*Movil Apaisats*/
@media screen and (max-width:640px) and (orientation: landscape){
	body{
	}
}
/*Tablets Verticals*/
@media screen and (min-width:641px) and (max-width:1200px) and (orientation: portrait){
	body{
	}
}
/*Tablets Apaisades*/
@media screen and (min-width:641px) and (max-width:1200px) and (orientation: landscape){
	body{
	}
}
/*Escriptori*/
@media screen and (min-width:1201px) {
	body{
	}
}