body {
	font-family: 'Roboto', sans-serif;
    background-color:#F4F4F6 !important;
    margin: 0;
}

	body::-webkit-scrollbar { display: none; }

a {
	text-decoration:none;
}


/* -- PARTE SUPERIOR --*/

    .parte_superior{
        height: auto;
        width: 70%;
        margin: auto;
        margin-bottom: 2em;

    }

        .flecha_atras {
            width: 29px;
            height: 32px;
            background-image: url(../img/iconos/flecha.svg);
            background-size: cover;
            position: fixed;
            top: 2.1em;
            float: left;
        }

        .user {
            
            width: 21%;
            height: 4em;
            background-size: cover;
            margin: auto;
            left: 0;
            right: 0ch;
            margin-top: 2.1em;
        }

        .reporte {
            float: right;
            background-image: url(../img/iconos/exclamacion.svg);
            background-size: cover;
            width: 0.5em;
            height: 2.5em;
            margin-top: -4em;
        }


/* -- LISTADO DE PRODUCTOS -- */

    .producto_favorito{
        max-width: 25em;
        height: 7em;
        margin: 0 auto;
        background-color: white;
        margin-top: 1em;
        border-radius: 9px 9px 9px 9px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

        .foto_producto{
            width: 35%;
            height: 100%;
            float: left;
            border-radius: 9px 0px 0px 9px;
            background-size: cover;
            background-position: center;
        }

        .usuario{
            height: 50%;
            max-width: 8em;
            background: linear-gradient(88.68deg, #36B07E 0%, #5EB45A 100%);
            margin-top: 1.8em;
            border-radius: 1em;
            margin: auto;
            left: 0;
            right: 0;
        }

            .avatar{
                height: 1.6em;
                width: 1.6em;
                margin-top: 0.3em;
                background-size: cover;
                float: left;
                margin-left: 10%;
            }

            #nombre_usuario{
                float: right;
                color:white;
                font-size: 0.9em;
                height: auto;
                width: auto;
                font-weight: bold;
                margin-right: 10%;
                line-height: 2.3em;
            }

        .fav{
            height: 2em;
            width: 2.3em;
            background-image: url(../img/iconos/corazonoff.svg);
            background-size: cover;
            float: right;
            margin-top: 2.5em;
            margin-right: 1.2em;
        }

            .fav:active{
                background-image: url(../img/iconos/corazonon.svg);
            }

        .nombre_producto {
            float: left;
            margin-top: 1.7em;
            margin-left: 1.2em;
            color: #757574;
            font-weight: bold;
            font-size: 1.5em;
        }



@media screen and (max-width:640px) and (orientation: portrait) {

    .producto_favorito{
        width: 95%;
    }

    .user {
        width: 100%;
    }

    .usuario {
        width: 41%;
    }

}